@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Poppins", sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
:root {
  --clr-primary-600: #1778b5;
  --clr-primary-400: #6bbaec;
  --clr-primary-200: #edf7fd;
  --clr-grey: #d6d6d6;
  --clr-allgood: #9bc53d;
  --clr-error: #c3423f;
  --clr-liked: #e27688;
}

/* HOME PAGE */
.logo {
  width: 100px;
}
.nav-bar-top {
  width: 100%;
  margin-bottom: 2rem;
  background-color: var(--clr-primary-200);
}
.nav-bar-top-link-container {
  padding: 1rem 2rem;
  margin: auto auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
}
.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-bottom: 1rem;
}
.search-bar-container input {
  border-radius: 15px;
  border: none;
  padding: 0.3rem 0.3rem 0.3rem 1rem;
  margin: 0.5rem;
  height: 30px;
  width: 80%;
  max-width: 800px;
  background-color: var(--clr-primary-200);
  outline: none;
}
.search-bar-container input::placeholder {
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.search-input-container {
  border-radius: 15px;
}
.filter-buttons-container {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
}
.filter-buttons-container button {
  padding: 0.4rem 1rem;
  gap: 10px;
  background: transparent;
  border-radius: 15px;
  border: 1px solid var(--clr-primary-400);
}
.filter-buttons-container button:hover {
  background-color: var(--clr-primary-200);
  cursor: pointer;
}
.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1000px;
  margin-top: 1rem;
}
.product-card {
  width: 180px;
  height: 250px;
  margin-bottom: 1.2rem;
}
.product-card-img-container {
  width: 180px;
  height: 200px;
}
.product-card-img-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.product-card-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}
.product-card-price-container button {
  background-color: transparent;
  border: none;
}
.product-card-title-container {
  font-size: 0.9rem;
}

/* LOGIN PAGE */
.login-form h1 {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.5rem;
}
.login-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem auto;
}
.login-form input {
  border-radius: 15px;
  border: none;
  padding: 0.3rem 0.3rem 0.3rem 2rem;
  margin: 0.5rem;
  height: 30px;
  width: 250px;
  background-color: var(--clr-primary-200);
  outline: none;
}
.login-form button {
  border-radius: 15px;
  border: none;
  height: 30px;
  width: 100px;
  background-color: var(--clr-primary-400);
  margin-top: 1rem;
  font-weight: 600;
  font-size: 0.9rem;
}
.login-form-bottom-text {
  text-align: center;
  text-decoration: none;
}
.login-form-bottom-text p {
  margin-bottom: 0.5rem;
}
.error-message {
  text-align: center;
  color: var(--clr-error);
  margin-bottom: 1rem;
}

/* SINGUP PAGE */
.signup-form h1 {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.5rem;
}
.signup-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem auto;
}
.signup-form input {
  border-radius: 15px;
  border: none;
  padding: 0.3rem 0.3rem 0.3rem 2rem;
  margin: 0.5rem;
  height: 30px;
  width: 250px;
  background-color: var(--clr-primary-200);
  outline: none;
}
.signup-form button {
  border-radius: 15px;
  border: none;
  height: 30px;
  width: 100px;
  background-color: var(--clr-primary-400);
  margin-top: 1rem;
  font-weight: 600;
  font-size: 0.9rem;
}
.signup-form-bottom-text {
  text-align: center;
  text-decoration: none;
}
.signup-form-bottom-text p {
  margin-bottom: 0.5rem;
}

/* PROFILE PAGE */
.profile-page-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  margin: 1rem auto;
}
.profile-page-container img {
  width: 150px;
  margin-bottom: 1rem;
}
.profile-page-container h2 {
  font-weight: 600;
  margin-bottom: 1rem;
}
.profile-page-container p {
  margin-bottom: 1rem;
}
.profile-page-edit-button {
  border-radius: 15px;
  border: 1px solid var(--clr-primary-400);
  background-color: var(--clr-primary-400);
  padding: 0.5rem 2rem;  
  font-weight: 600;
  text-decoration: none;
  color: #383636;
}
.profile-page-edit-button:hover {
  background-color: transparent;
}
.profile-page-logout-button {
  border-radius: 15px;
  border: 1px solid var(--clr-primary-400);
  background-color: var(--clr-primary-400);
  padding: 0.5rem 2rem;
  color: #383636;
  font-weight: 600;
  font-size: 1rem;
}
.profile-page-logout-button:hover {
  cursor: pointer;
  background-color: transparent;
}
.profile-page-delete-button {
  border-radius: 15px;
  border: 1px solid var(--clr-error);
  background-color: var(--clr-error);
  padding: 0.5rem 2rem;
  color: white;
  font-weight: 600;
  font-size: 1rem;
}
.profile-page-delete-button:hover {
  cursor: pointer;
  background-color: transparent;
  color: #383636;
}
.profile-page-logout-delete-button-container {
  display: flex;
  margin-top: 1rem;
  gap: 20px;
}

/* UPDATE USER PAGE */
.update-form h1 {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.5rem;
}
.update-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem auto;
}
.update-form input {
  border-radius: 15px;
  border: none;
  padding: 0.3rem 0.3rem 0.3rem 2rem;
  margin: 0.5rem;
  height: 30px;
  width: 250px;
  background-color: var(--clr-primary-200);
  outline: none;
}
.update-form button {
  border-radius: 15px;
  border: none;
  height: 30px;
  width: 100px;
  background-color: var(--clr-primary-400);
  margin-top: 1rem;
  font-weight: 600;
  font-size: 0.9rem;
}
.update-form-bottom-text {
  text-align: center;
  text-decoration: none;
}
.update-form-bottom-text p {
  margin-bottom: 0.5rem;
}

/* PRODUCT DETAILS PAGE */
.product-details-container {
  width: 600px;
  margin: 3rem auto 3rem auto;
  background-color: var(--clr-primary-200);
  padding: 2rem;
  border-radius: 15px;
}
.product-details-image-container {
  width: 600px;
  height: 480px;
  margin-bottom: 1.5rem;
}
.product-details-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
}
.product-details-price-favorite-line {
  display: flex;
  justify-content: space-between;
}
.product-details-price {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
}
.product-details-title {
  margin-bottom: 1.3rem;
  font-size: 2rem;
}
.product-details-item-condition {
  margin-bottom: 1.3rem;
  font-size: 0.9rem;
}
.product-details-category {
  margin-bottom: 1rem;
  background-color: var(--clr-grey);
  display: inline-block;
  border-radius: 15px;
  padding: 0.5rem 1.5rem;
}
.product-details-divider {
  margin-bottom: 1.2rem;
}
.product-details-description {
  margin-bottom: 1.3rem;
}
.product-details-bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  margin: 1.6rem 0;
}
.product-details-bottom-container-left {
  display: flex;
  gap: 40px;
}
.product-details-bottom-container-right {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
}
.product-details-bottom-container-right h2 {
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.product-details-bottom-container-right h3 {
  font-size: 0.9rem;
  font-style: italic;
}
.product-details-bottom-container-right span {
  font-size: 0.9rem;
}
.product-details-bottom-container-left button {
  border-radius: 15px;
  border: 1px solid var(--clr-primary-400);
  background-color: var(--clr-primary-400);  
  padding: 0.5rem 2rem;
  font-weight: 600;
  font-size: 0.9rem;
}
.product-details-bottom-container-left button:hover {
  cursor: pointer;
  background-color: transparent;
}

/* FAVORITE PAGE */
.favorites-container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
}
.favorites-container h1 {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.5rem;
}
.favorite-product-container {
  width: 250px;
  margin: 0 auto;
}
.favorite-product-image-container {
  width: 100%;
}
.favorite-product-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.favorite-product-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.4rem;
  font-size: 1.1rem;
}
.favorite-product-price button {
  background: transparent;
  border: none;
  font-weight: 400;
}
.favorite-product-container h3 {
  font-weight: 600;
  margin-bottom: 0.2rem;
}
.favorite-product-container p {
  font-weight: 200;
}

/* UPLOAD PAGE */
.upload-page-container select {
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: white;
  font-size: 14px;
  cursor: pointer;
  padding: 0.3rem 0.3rem 0.3rem 1rem;
  text-align: center;
  margin-bottom: 0.5rem;
}
.upload-page-container h1 {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.5rem;
}
.upload-page-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem auto;
}
.upload-page-container label {
  margin-bottom: 0.5rem;
}
.upload-page-container input {
  border-radius: 15px;
  border: none;
  padding: 0.4rem 1rem;
  margin-bottom: 1rem;
  height: 30px;
  width: 250px;
  background-color: var(--clr-primary-200);
  outline: none;
}
.upload-page-container input::placeholder {
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.upload-page-container textarea {
  border-radius: 15px;
  border: none;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  height: 100px;
  width: 250px;
  background-color: var(--clr-primary-200);
  outline: none;
  font-family: "Poppins", sans-serif;
}
.upload-page-select-container {
  display: inline-block;
  position: relative;
  font-family: "Poppins", sans-serif;
  outline: none;
}
.upload-page-upload-file-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.upload-page-upload-file-container input {
  background: transparent;
}
.upload-page-container button {
  border-radius: 15px;
  border: none;
  border: 1px solid var(--clr-primary-400);
  background-color: var(--clr-primary-400);
  padding: 0.5rem 2rem;
  margin-top: 1rem;
  font-weight: 600;
  font-size: 1.0rem;
}
.upload-page-container button:hover {
  border: 1px solid var(--clr-primary-400);
  background-color: transparent;
  cursor: pointer;
}
.success-message {
  text-align: center;
  color: var(--clr-allgood);
}

/* FOOTER */
.footer-container {
  background-color: var(--clr-primary-200);
  padding: 1.5rem 3rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.footer-links-container {
  display: flex;
  flex-direction: column;
}
.footer-contact-container {
  margin: 1rem 0;
}
.footer-contact-container h3 {
  font-weight: 600;
}
.footer-contact-container p {
  font-weight: 300;
}

/* ERROR-PAGE */
.error-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../public/Error_Page_IMG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.error-h1 {
  font-size: 7rem;
  font-weight: 700;
}
.error-h2 {
  font-size: 2.8rem;
  font-weight: 600;
  margin: 30px;
}
.error-page-button {
  border-radius: 15px;
  border: 1px solid var(--clr-primary-400);
  background-color: var(--clr-primary-400);
  padding: 0.5rem 2rem;  
  margin-top: 1rem;
  font-weight: 600;
  font-size: 0.9rem;
}
.error-page-button:hover {
  cursor: pointer;
  background-color: transparent;
}


/* LOADING SPINNER */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loading-spinner-container h1 {
  margin-bottom: 1rem;
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #383636;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}


/* MEDIA QUERIES */
@media (max-width: 600px) {
  .footer-links-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: start;
  }
}
